[Unit]
Description=Object Browser UI
After=network.target

[Service]
WorkingDirectory=/usr/local/lib/obs-ui
EnvironmentFile=/usr/local/lib/obs-ui/systemd.env
ExecStart=/usr/local/lib/obs-ui/obs-ui start-api
Restart=on-failure
RestartSec=6s
User=obs-ui

[Install]
WantedBy=default.target
